@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

/* :root {
    --clr-background: #FCF8E8;
    --clr-alt-title-main: #B25068;
    --clr-btn: #DF7861;
  
    --clr-container: #ECDFC8;
    --clr-hr-input: #F8ECD1;
    --clr-sub-title: #B25068;
  
    --ff-main: "Karla", sans-serif;
    --ff-serif: "Inter", sans-serif;
} */

:root {
    --clr-background: #1c1c1c;
    --clr-alt-title-main: #55f991;
    --clr-btn: #10b981;
  
    --clr-container: #1f2937;
    --clr-hr-input: #273549;
    --clr-sub-title: #d5d4d8;
  
    --ff-main: "Karla", sans-serif;
    --ff-serif: "Inter", sans-serif;
}


body {
    font-family: var(--ff-serif);
    color: white;
    background-color: var(--clr-background);
}

.upper-section {
    text-align: center;
}

h1 {
    /* font-family: var(--ff-main); */
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: 400;
    margin: 0.2em 0;
}

h2 {
    color: var(--clr-sub-title);
    font-family: 'Baloo 2', cursive;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 1em;
}


hr {
    background-color: var(--clr-hr-input);
    color: var(--clr-hr-input);
    height: 2px;
    border: none;
}

.btn {
    font-size: 1em;
    font-weight: 500;
    font-family: var(--ff-serif);
    background-color: var(--clr-btn);
    color: white;
    border: none;
    border-radius: 0.25em;
    padding: 0.7em 1.1em;
    margin: 2em 0;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
                0 2px 4px rgba(0, 0, 0, 0.07),
                0 4px 8px rgba(0, 0, 0, 0.07),
                0 8px 16px rgba(0, 0, 0, 0.07),
                0 16px 32px rgba(0, 0, 0, 0.07),
                0 32px 64px rgba(0, 0, 0, 0.07);
    transition: all 250ms;
}

.btn:hover,
.btn:focus {
    background-color: white;
    color: var(--clr-btn);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 
                0 4px 2px rgba(0, 0, 0, 0.09),
                0 8px 4px rgba(0, 0, 0, 0.09), 
                0 16px 8px rgba(0, 0, 0, 0.09),
                0 32px 16px rgba(0, 0, 0, 0.09);
}

.flex {
    display: flex;
    flex-direction: column;
}

main {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 20px;
}

.container {
    width: min(90%, 33rem);
    padding: 2em;
    background-color: var(--clr-container);
    border-radius: 0.25em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 
                0 2px 4px rgba(0, 0, 0, 0.07),
                0 4px 8px rgba(0, 0, 0, 0.07), 
                0 8px 16px rgba(0, 0, 0, 0.07),
                0 16px 32px rgba(0, 0, 0, 0.07), 
                0 32px 64px rgba(0, 0, 0, 0.07);
}

.title-highlight {
    color: var(--clr-alt-title-main);
}

.lower-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    /* margin-top: 1em; */
}

.generated-password {
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
    background-color: var(--clr-hr-input);
    text-align: center;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    color: var(--clr-alt-title-main);
}

.fa-ellipsis-h {
    color: var(--clr-container);
}

/* make slider color green (tasks left) */

#pwd-slider {
    font-family: var(--ff-serif);
    color: var(--clr-alt-title-main);
}

#slider-number {
    font-weight: bolder;
    color: var(--clr-alt-title-main);
}